<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lotto</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav >
            <a href="me.html">Me</a>
            <a href="report.html">Report</a>
            <a href="about.html">About</a>
            <a href="flag.html">Flags</a>
            <a href="schools.html">Schools</a>
          </nav>
    </header>


<h1 style="margin-top: 100px;">The lottery Lotto</h1>
<h2 style="text-align: center;">The winning numbers are:</h2>
<p style="text-align: center; font-size: larger;"><%= lottoNum %></p>
<table id="num"></table>
<h2 style="text-align: center;">Your numbers are:</h2>
<p style="text-align: center; font-size: larger;"><%= yourLotto %></p>
<table id="num2"></table>
<h2 style="text-align: center;">Match Result:</h2>
<p style="text-align: center; font-size: larger;"><%= identical %></p>

<script>
    var winningNumbers = "<%= lottoNum %>";
    var yourNumbers = "<%= yourLotto %>";
    var arr = winningNumbers.split(",");
    var yourArr = yourNumbers.split(",");
    var table = "<tr>";
    var table2 = "<tr>";

    for(var i=1; i<36; i++){
        if(arr.includes(i.toString())){
            table += "<td style='background-color: red;'>" + i + "</td>";
        }else{
            table += "<td>" + i + "</td>";
        }
        if(yourArr.includes(i.toString())){
            table2 += "<td style='background-color: red;'>" + i + "</td>";
        }else{
            table2 += "<td>" + i + "</td>";
        }
        
        if(i==10 || i== 20 || i==30){
            table += "</tr><tr>";
            table2 += "</tr><tr>";

        }
    }
    table += "</tr>";
    
    document.getElementById("num").innerHTML = table;
    document.getElementById("num2").innerHTML = table2;
    

</script>



<footer >
    <h6>Elias Haloun e-mail: elias.haloun0104@stud.hkr.se phone: +46xxxxxxxx</h6>
</footer>

</article>



<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
